.res {
    font-family: 'Dancing Script', cursive;
}

.unw {
    font-size: .8em;
}

.crd {
    /* width: 15rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.crd_main {
    /* gap: 2rem; */
}

.crd_in {
    background-position: center;
    background-size: cover;
}

.img_card {
    border-radius: .3rem .3rem 0 0;
    width: 15rem;
}

.p_text {
    font-size: .8em;
}

/**************************************************************** b_section */

.b_section {
    background-color: rgba(4, 19, 79, 0.132)
}

/******************************************************* carousel */

.car_im {
    height: 25rem;
    border-radius: .5rem;
}

.pgradient {
    max-width: 100%; 
    /* width: 800px;
    margin: auto; */
  }

/******************************************************* under_carousel */
.bg_col {
    background-position: center;
    background-size: cover;
}

/********************************************************** e_section */
.e_section {
 background-image: ;
}

/********* separator */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .glimp {
    /* font-family: 'Dancing Script', cursive; */
    font-size: .8em;
    margin: 3rem 0;
  }
  /************ cont. */

  .h_crd {
    opacity: 1;
    height: 10rem;
    width: 8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .c_bod {
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .35s;
  }

  .c_bod:hover {
    opacity: .75;
    cursor: pointer;
    color: #000 !important;
  }
  
  .in_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem;
  }

.sec_f {
    background-position: center;
    background-size: cover;
}