.a_j2 {
  font-family: 'Dancing Script', cursive;
  text-shadow: 0 0 10px #070706d2, 0 0 20px #070706d2, 0 0 30px #070706d2;
}

.nes2 {
text-shadow: 0 0 10px #070706d2, 0 0 20px #070706d2, 0 0 30px #070706d2;
}

.exp {
  background-color: #bcdced;
}

.sec_beaches {
  background-color: #fff;
}

.res {
    font-family: 'Dancing Script', cursive;
}

.r_resorts {
  padding: 0 4rem;
}

@media (max-width: 810px) {
  .r_resorts {
    padding: 0 1rem !important;
  }
}

.m_beaches {
  padding: 0 8rem;
}

@media (max-width: 1200px) {
  .m_beaches {
    padding: 0 1rem !important;
  }
}

@media (max-width: 810px) {
  .m_beaches {
    padding: 0 .5rem !important;
  }
}

@media (max-width: 428px) {
  .unw {
    text-align: left !important;
  }
}

.crd {
    /* width: 15rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.crd_in {
    background-position: center;
    background-size: cover;
}

.img_card {
    border-radius: .3rem .3rem 0 0;
    width: 15rem;
}

.p_text {
    font-size: .8em;
}

/**************************************************************** b_section */

.b_section {
    background-color: rgba(4, 19, 79, 0.132)
}

/******************************************************* carousel */

.car_im {
    border-radius: .5rem;
}

@media (min-width: 1200px) {
  .car_im {
    height: 25rem;
  }
}

.pgradient {
    max-width: 100%; 
    /* width: 800px;
    margin: auto; */
  }

/******************************************************* under_carousel */
.bg_col {
    background-position: center;
    background-size: cover;
}

/********************************************************** e_section */
.e_section {
 background-image: ;
}

/********* separator */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .glimp {
    margin: 3rem 1rem;
    letter-spacing: .4em;
  }
  /************ cont. */

  .f_cards {
    background-color: #fff;
  }

  .hover-container {
    position: relative;
    display: inline-block;
  }

  .hover-container img {
    max-width: 100%;
    height: auto;
  }

  .hover-container .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #123243; /* Set text color */
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }

  .hover-container:hover img {
    opacity: 0;
  }

  .hover-container:hover .text-overlay {
    opacity: 1;
  }

  .img_fet {
    height: 250px;
    width: 300px;
  }

  .rw_vidz {
    margin: 0 5rem;
  }

  @media (max-width: 1250px) {
    .rw_vidz {
      margin: 0;
    }
  }