.res {
    font-family: 'Dancing Script', cursive;
}

.unw {
    font-size: .8em;
}

.crd {
    width: 15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.crd_main {
    gap: 2rem;
}

.img_card {
    border-radius: .3rem .3rem 0 0;
    width: 15rem;
}

.p_text {
    font-size: .8em;
}

/**************************************************************** b_section */

.b_section {
    background-color: rgba(4, 19, 79, 0.132)
}

/******************************************************* carousel */

.car_im {
    height: 25rem;
    border-radius: .5rem;
}

.pgradient {
    max-width: 100%; 
    /* width: 800px;
    margin: auto; */
  }

/* .pgradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #ffffff 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
  } */
