  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  body {
    background-color: #123243;
  }
/************************************************ HEADER *********************/
.hdiv {
    background-color: #123243;
    padding-top: .5rem;
}

.ph {
    font-weight: 400;
    font-size: .8rem;
    padding-left: .5em;
    color: #fff;
}
/************************************************ navbar/MAIN section/ *********************/
.nav_f {
  background-color: #12324370;
  padding-top: 3.5rem;
}

@media (max-width: 767px) {
  .nav_f {
    padding-top: 5.5rem !important;
  }
}

@media (max-width: 363px) {
  .nav_f {
    padding-top: 7.5rem !important;
  }
}

.img_logo {
  filter: drop-shadow(2px 0 0 rgba(255, 255, 255, 0.658)) 
          drop-shadow(0 2px 0 rgba(255, 255, 255, 0.658))
          drop-shadow(-2px 0 0 rgba(255, 255, 255, 0.658)) 
          drop-shadow(0 -2px 0 rgba(255, 255, 255, 0.658));
}

.first_section {
    background-position: center;
    background-size: cover;
    align-items: center;
    display: block;
}

hr {
  height: .1rem;
  background-color: #ffffff84;
  border: 0;
  margin-top: .2rem;
}

.a_j {
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 10px #031e47c9, 0 0 20px #031e47c9, 0 0 30px #031e47c9;
}

.nes {
  text-shadow: 0 0 10px #031e47c9, 0 0 20px #031e47c9, 0 0 30px #031e47c9;
}

.btn_about {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #3797c8;
    color: white;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}
   
.btn_about:hover {
    background: linear-gradient(90deg, #3797c8 0%, #bcdced 100%);
}
   
.btn_about:active {
    transform: translate(0em, 0.2em);
}

.btn_a {
    color: #fff;
    text-decoration: none;
}

.stext {
    background-color: #ffffff79;
}

.dis {
  padding-top: 17rem;
  padding-bottom: 7rem;
}

@media (max-width: 429px) {
  .nes {
    font-size: 1em !important;
    line-height: 200%;
  }
}

/************************************************ SECOND_section *********************/
#about {
  background-color: #fff;
}

.hist {
    font-family: 'Dancing Script', cursive;
    margin-bottom: -3%;
}

/************************************************ THIRD_section *********************/

.sal_prof {
  background-color: #bcdced;
}
.bac {
    margin-top: -3%;
}

/************************************************ FOURTH_section *********************/
.officials {
    background-color: #ffffff;
}

.card-header {
  background-color: #ffffff;
}

.mun_off {
  font-family: 'Dancing Script', cursive;
  color: #3797c8;
}

.vice {
  background-position: center;
  background-size: cover;
}

/************************************************ FIFTH_section *********************/

.visz {
  font-family: 'Dancing Script', cursive;
}

.vis_sec {
  background-color: #bcdced;
}

.vis {
  background-position: center;
  background-size: cover;
}

/************************************************ MEDIA FOR SECTIONS *********************/
@media (max-width: 810px){
  .fifth {
    margin: 0 !important;
  }
}

@media (max-width: 767px) {
  .in_sal {
    font-size: .8em;
    margin: 0;
    padding: 0;
  }
  .bh {
    font-size: .8em;
  }
}

@media (max-width: 992px) {
  .sb_list {
    font-size: 1.5em !important;
  }
}

@media (max-width: 644px) {
  .sb_list {
    font-size: .9em !important;
  }
}

@media (max-width: 429px) {
  .prem {
    font-size: .8em !important;
  }
}

@media (max-width: 1070px) {
  .prem {
    text-align: left !important;
  }
}

  /******************************************************************* footer *************************************/
  .foot_sec {
    padding: 3rem 0;
  }

@media (max-width: 438px) {
  .foot_ins {
    margin: 0 !important;
  }
}

@media (max-width: 428px) {
  .fm {
    text-align: center;
  }
}

@media (max-width: 428px) {
  .fm_img {
    justify-content: center;
  }
}
  
.img_ft {
  height: 3rem;
}

.foot_ul, li {
  list-style: none;
}

.ft_txt {
  font-size: .8em;
}

.ftxt {
  color: #fff;
  transition: .35s;
}

.ftxt:hover {
  color: #3797c8;
}

  .pp {
    text-decoration: none;
    color: #0d213c;
  }

  .f_list {
    text-decoration: none;
  }

  .i_list {
    transition: .1s;
  }

  .i_list:hover {
    color: #fffb00 !important;
    font-weight: 700;
  }

  .modal_body ,ul, li {
    font-size: 1em;
    font-weight: 400;
  }
  ul {
    padding-left: 0;
  }
  ul li {
    list-style-position: inside;
  }

  .logz {
    transition: .35s;
  }
  
  .logz:hover {
    cursor: pointer;
    /* padding: .5rem; */
  }

  .ppolicy {
    transition: .2s;
  }

  .ppolicy:hover {
    color: #3797c8 !important;
    width: fit-content;
    padding: 0 .5rem;
  }

  .menus {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: 528px) {
    .ft {
      font-size: .8em;
    }
  }
  @media (max-width:767px) {
    .menus {
      text-align: center;
    }
  }



  /**************************************************** scroll_up ***********************************************/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 1.7em;
    border: none;
    outline: none;
    background-color: #3798c87c;
    color: white;
    cursor: pointer;
    padding: 0 .5em;
    border-radius: 4px;
    transition: .35s;
  }
  
  #myBtn:hover {
    background-color: #ffffff;
    color: #3797c8;
    font-weight: 700;
  }