/***************************************** 3rd section ************************/

.tour_third {
  background-color: #bcdced;
  font-size: .8em;
}

.rate_list {
  margin: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 428px) {
  .rate_list {
    margin: 0;
  }
}

.crd_tour {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #3797c8;
}

.c_tour {
  background-color: #3797c8;
}
.c_head {
  background-color: #3797c8;
}

hr {
  border-top: .5em dashed #123243;
}

.f_sect {
  margin-top: -3rem;
  padding: 0;
}

@media (max-width: 428px) {
  .ul_z {
    font-size: .8em;
  }
}